<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/estilo.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Inter:wght@400;700&family=Mooli&display=swap" rel="stylesheet">   
    <link href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">  
   
    <title>Atividades IFBA</title>
</head>
<body>
    <header>
        <a href="admin.html">
             <h1>Atividades IFBA</h1>
        </a>
    </header>
    <main class="principal-admin">
        <div class="menu">
            <ul>
                <li><a href="admin.html">Inicio</a></li>
                <li><a href="atividades.html" >Atividades</a></li>
                <li><a href="usuarios.html" >Usuários</a></li>
                <li><a href="disciplinas.html" >Disciplinas</a></li>
                <li><a href="turmas.html" >Turmas</a></li>
                <li><a href="index.html" >Sair</a></li>
            </ul>
        </div>
        <div class="container">
            <h1>Adicionar Atividade</h1>
            <form>
                <label>
                    Descrição:
                    <input type="text" name="descricao">
                </label>
                <label>
                    Data:
                    <input type="date" name="data">
                </label>
                <label>
                    Horário:
                    <input type="time" name="horario">
                </label>
                <label>
                    Disciplina:
                    <select name="disciplina">
                        <option>Selecione uma disciplina</option>
                        <option value="1">Matemática</option>
                        <option value="1">Matemática</option>
                        <option value="1">Matemática</option>
                        <option value="1">Matemática</option>
                        <option value="1">Matemática</option>
                        <option value="1">Matemática</option>
                        <option value="1">Matemática</option>
                        <option value="1">Matemática</option>
                    </select>
                </label>
                <label>
                    Turma:
                    <select name="turma">
                        <option>Selecione uma Turma</option>
                        <option value="1">1º ano Matutino - Informática</option>
                        <option value="1">1º ano Matutino - Informática</option>
                        <option value="1">1º ano Matutino - Informática</option>
                        <option value="1">1º ano Matutino - Informática</option>
                        <option value="1">1º ano Matutino - Informática</option>
                        <option value="1">1º ano Matutino - Informática</option>
                    </select>
                </label>
                <button>Salvar</button>
            </form> 
        
    </div>
        
    </main>
    

    <footer>
        IFBA Atividades &copy; 2023
      </footer>

</body>
</html>