<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/estilo.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Inter:wght@400;700&family=Mooli&display=swap" rel="stylesheet">   
    <link href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">  
   
    <title>Atividades IFBA</title>
</head>
<body>
    <header>
        <a href="admin.html">
             <h1>Atividades IFBA</h1>
        </a>
    </header>
    <main class="principal-admin">
        <div class="menu">
            <ul>
                <li><a href="admin.html">Inicio</a></li>
                <li><a href="atividades.html" >Atividades</a></li>
                <li><a href="usuarios.html" >Usuários</a></li>
                <li><a href="disciplinas.html" >Disciplinas</a></li>
                <li><a href="turmas.html" >Turmas</a></li>
                <li><a href="index.html" >Sair</a></li>
            </ul>
        </div>
        <div class="container">
        <h1>Sistema Administrativo de Tarefas e Atividades</h1>
        
       <h2 class="text-center">Bem-vindo, Usuário Tal
       
       </h2>

        <div class="atalhos">
            <div class="atalho">
                <a href="atividades.html">
                    <i class="fa fa-tasks" aria-hidden="true"></i>
                    Atividades
                </a>
            </div>
            <div class="atalho">
                <a href="usuarios.html">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    Usuários
                </a>
            </div>
            <div class="atalho">
                <a href="disciplinas.html">
                    <i class="fa fa-book" aria-hidden="true"></i>
                    Disciplinas
                </a>
            </div>
            <div class="atalho">
                <a href="turmas.html">
                   <i class="fa fa-users" aria-hidden="true"></i>
                    Turmas
                </a>
            </div>

        </div>
    </div>
        
    </main>
    

    <footer>
        IFBA Atividades &copy; 2023
      </footer>

</body>
</html>