<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/estilo.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Inter:wght@400;700&family=Mooli&display=swap" rel="stylesheet">   
    <link href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">  
   
    <title>Atividades IFBA</title>
</head>
<body>
    <header>
        <a href="admin.html">
             <h1>Atividades IFBA</h1>
        </a>
    </header>
    <main class="principal-admin">
        <div class="menu">
            <ul>
                <li><a href="admin.html">Inicio</a></li>
                <li><a href="atividades.html" >Atividades</a></li>
                <li><a href="usuarios.html" >Usuários</a></li>
                <li><a href="disciplinas.html" >Disciplinas</a></li>
                <li><a href="turmas.html" >Turmas</a></li>
                <li><a href="index.html" >Sair</a></li>
            </ul>
        </div>
        <div class="container">
            <div class="adicionar">
                <a href="adicionar_atividade.html"><i class="fa-solid fa-circle-plus"></i> Adicionar Atividade</a>
            </div>

            <h1>Atividades</h1>
       <table>
        <thead>
            <tr>
                <th>Data</th>
                <th>Descrição</th>
                <th>Disciplina</th>
                <th>Turma</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>25/09/2023</td>
                <td>Atividade de Matemática</td>
                <td>Matemática</td>
                <td>1ª Matutino - Informática</td>
                <td class="botoes">
                    <a href="" title="Editar"><i class="fa fa-pencil-square" aria-hidden="true"></i></a>
                    <a href="" title="excluir"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </td>
            </tr>
            <tr>
                <td>25/09/2023</td>
                <td>Atividade de Matemática</td>
                <td>Matemática</td>
                <td>1ª Matutino - Informática</td>
                <td class="botoes">
                    <a href="" title="Editar"><i class="fa fa-pencil-square" aria-hidden="true"></i></a>
                    <a href="" title="excluir"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </td>
            </tr>
            <tr>
                <td>25/09/2023</td>
                <td>Atividade de Matemática</td>
                <td>Matemática</td>
                <td>1ª Matutino - Informática</td>
                <td class="botoes">
                    <a href="" title="Editar"><i class="fa fa-pencil-square" aria-hidden="true"></i></a>
                    <a href="" title="excluir"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </td>
            </tr>
            <tr>
                <td>25/09/2023</td>
                <td>Atividade de Matemática</td>
                <td>Matemática</td>
                <td>1ª Matutino - Informática</td>
                <td class="botoes">
                    <a href="" title="Editar"><i class="fa fa-pencil-square" aria-hidden="true"></i></a>
                    <a href="" title="excluir"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </td>
            </tr>
            <tr>
                <td>25/09/2023</td>
                <td>Atividade de Matemática</td>
                <td>Matemática</td>
                <td>1ª Matutino - Informática</td>
                <td class="botoes">
                    <a href="" title="Editar"><i class="fa fa-pencil-square" aria-hidden="true"></i></a>
                    <a href="" title="excluir"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </td>
            </tr>
            <tr>
                <td>25/09/2023</td>
                <td>Atividade de Matemática</td>
                <td>Matemática</td>
                <td>1ª Matutino - Informática</td>
                <td class="botoes">
                    <a href="" title="Editar"><i class="fa fa-pencil-square" aria-hidden="true"></i></a>
                    <a href="" title="excluir"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </td>
            </tr>
            <tr>
                <td>25/09/2023</td>
                <td>Atividade de Matemática</td>
                <td>Matemática</td>
                <td>1ª Matutino - Informática</td>
                <td class="botoes">
                    <a href="" title="Editar"><i class="fa fa-pencil-square" aria-hidden="true"></i></a>
                    <a href="" title="excluir"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </td>
            </tr>
            <tr>
                <td>25/09/2023</td>
                <td>Atividade de Matemática</td>
                <td>Matemática</td>
                <td>1ª Matutino - Informática</td>
                <td class="botoes">
                    <a href="" title="Editar"><i class="fa fa-pencil-square" aria-hidden="true"></i></a>
                    <a href="" title="excluir"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </td>
            </tr>
            <tr>
                <td>25/09/2023</td>
                <td>Atividade de Matemática</td>
                <td>Matemática</td>
                <td>1ª Matutino - Informática</td>
                <td class="botoes">
                    <a href="" title="Editar"><i class="fa fa-pencil-square" aria-hidden="true"></i></a>
                    <a href="" title="excluir"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </td>
            </tr>
            <tr>
                <td>25/09/2023</td>
                <td>Atividade de Matemática</td>
                <td>Matemática</td>
                <td>1ª Matutino - Informática</td>
                <td class="botoes">
                    <a href="" title="Editar"><i class="fa fa-pencil-square" aria-hidden="true"></i></a>
                    <a href="" title="excluir"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </td>
            </tr>
        </tbody>
        </table>
        
        <div id="paginacao">
            <a href="" class="ativo">1</a>
            <a href="">2</a>
            <a href="">3</a>
            <a href="">4</a>
            <a href="">5</a>
            <a href="">6</a>
            <a href="">7</a>
            <a href="">8</a>
            <a href="">9</a>
            <a href="">10</a>
        </div> 
        
    </div>
        
    </main>
    

    <footer>
        IFBA Atividades &copy; 2023
      </footer>

</body>
</html>