<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/estilo.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Inter:wght@400;700&family=Mooli&display=swap" rel="stylesheet">   
    <link href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">  
   
    <title>Atividades IFBA</title>
</head>
<body>
    <header>
        <a href="index.html">
             <h1>Atividades IFBA</h1>
        </a>
    </header>
       
    <main class="principal">
        <div class="nav-alternativa">
            <a class="btn-voltar" href="index.html">
              <i class="fa-solid fa-chevron-left"></i>
                Voltar
            </a>     
          </div>    
    <div class="form-container">
        <form id="login-form">
          <h2><i class="fa-solid fa-user-plus"></i> Criar Conta</h2>
          <input type="text" placeholder="Nome Completo" name="nome" required>
          <select name="turma">
            <option>Selecione a sua turma</option>
            <option>1° Matutino - Informática</option>
            <option>1° Matutino - Edificações</option>
            <option>1° Vespertino - Informática</option>
            <option>1° Vespertino - Edificações</option>

        </select>
        <input type="email" placeholder="Email" name="email" required>
          <input type="text" placeholder="usuario" name="login" required>
          <input type="password" placeholder="Senha" name="senha" required>         
          <button class="btn">
            <i class="fa-solid fa-circle-plus"></i>
            Criar
          </button>
          <a href="login.html" class="btn verde-claro">
            <i class="fa-solid fa-unlock"></i>
            Voltar e Fazer Login
          </a>
        </form>
     </div>
    </main>

    <footer>
      IFBA Atividades &copy; 2023
    </footer>

</body>
</html>