<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/estilo.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Inter:wght@400;700&family=Mooli&display=swap" rel="stylesheet">   
    <link href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">  
   
    <title>Atividades IFBA</title>
</head>
<body>
  <header>
    <a href="index.html">
         <h1>Atividades IFBA</h1>
    </a>
</header>
 

    <main class="principal">

      <div class="nav-alternativa">
        <a class="btn-voltar" href="index.html">
          <i class="fa-solid fa-chevron-left"></i>
            Voltar
        </a>     
      </div>        
     
    <div class="form-container">
        <form id="login-form" action="admin.html">
          <h2><i class="fa-solid fa-key"></i> Login</h2>
          <input type="text" placeholder="usuario" name="login" required>
          <input type="password" placeholder="Senha" name="senha" required>
          <button class="btn">
            <i class="fa-solid fa-unlock"></i>
            Login
          </button>
          <a href="conta.html" class="btn verde-claro">
            <i class="fa fa-user" aria-hidden="true"></i>
            Criar Conta
          </a>
        </form>
     </div>
    </main>

    <footer>
      IFBA Atividades &copy; 2023
    </footer>

</body>
</html>