<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/estilo.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Inter:wght@400;700&family=Mooli&display=swap" rel="stylesheet">   
    <link href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">  
   
    <title>Atividades IFBA</title>
</head>
<body>
    <header>
        <a href="index.html">
             <h1>Atividades IFBA</h1>
        </a>
    </header>
    <main class="principal">  

        <section id="filtro">
            <form>
                <label>
                Mês:
                <select name="mes">
                    <option></option>
                    <option>Janeiro</option>
                    <option>Fevereiro</option>
                    <option>Março</option>
                    <option>Abril</option>
                    <option>Maio</option>
                    <option>Junho</option>
                    <option>Julho</option>
                    <option>Agosto</option>
                    <option>Setembro</option>
                    <option>Outubro</option>
                    <option>Novembro</option>
                    <option>Dezembro</option>
    
                </select>
               </label>
               <label>
                Turma:
                <select name="turma">
                    <option></option>
                    <option>1° Matutino - Informática</option>
                    <option>1° Matutino - Edificações</option>
                    <option>1° Vespertino - Informática</option>
                    <option>1° Vespertino - Edificações</option>
    
                </select>
               </label>
               <button>Filtrar</button>
            </form>
        </section>

        <div class="menu">
            <ul>
                <li><a href="index.html">
                    <i class="fa-solid fa-calendar-day"></i> 
                    Por dia
                    </a>
                </li>
                <li><a href="mensal.html" >
                    <i class="fa-solid fa-calendar-days"></i>
                    Por Mês
                    </a>
                </li>
                <li>
                   <a href="login.html" >
                    <i class="fa-solid fa-user-lock"></i>
                    Login
                   </a>
                </li>
            </ul>
        </div>

        <div class="container">

            <h1 class="mensal"><i class="fa-solid fa-calendar-days"></i> Setembro</h1>
            <section id="atividades-mensal">
               
                <div class="atividade-dia">
                    <p class="data">
                        <span class="data-dia">01</span> 
                        <span class="data-sem">Segunda-feira</span>                     
                    </p>
                        <ul>
                            <li>Avaliação de Matemática</li>
                            <li>Avaliação de História</li>
                            <li>Avaliação de Inglês</li>
                        </ul>
                   
                </div>
    
                <div class="atividade-dia">
                    <p class="data">
                        <span class="data-dia">01</span> 
                        <span class="data-sem">Segunda-feira</span>                     
                    </p>
                        <ul>
                            <li>Avaliação de Matemática</li>
                            <li>Avaliação de História</li>
                            <li>Avaliação de Inglês</li>
                        </ul>
                   
                </div>
                <div class="atividade-dia">
                    <p class="data">
                        <span class="data-dia">01</span> 
                        <span class="data-sem">Segunda-feira</span>                     
                    </p>
                        <ul>
                            <li>Avaliação de Matemática</li>
                            <li>Avaliação de História</li>
                            <li>Avaliação de Inglês</li>
                        </ul>
                   
                </div>
                <div class="atividade-dia">
                    <p class="data">
                        <span class="data-dia">01</span> 
                        <span class="data-sem">Segunda-feira</span>                     
                    </p>
                        <ul>
                            <li>Avaliação de Matemática</li>
                            <li>Avaliação de História</li>
                            <li>Avaliação de Inglês</li>
                        </ul>
                   
                </div>
                <div class="atividade-dia">
                    <p class="data">
                        <span class="data-dia">01</span> 
                        <span class="data-sem">Segunda-feira</span>                     
                    </p>
                        <ul>
                            <li>Avaliação de Matemática</li>
                            <li>Avaliação de História</li>
                            <li>Avaliação de Inglês</li>
                        </ul>
                   
                </div>
                <div class="atividade-dia">
                    <p class="data">
                        <span class="data-dia">01</span> 
                        <span class="data-sem">Segunda-feira</span>                     
                    </p>
                        <ul>
                            <li>Avaliação de Matemática</li>
                            <li>Avaliação de História</li>
                            <li>Avaliação de Inglês</li>
                        </ul>
                   
                </div>
                <div class="atividade-dia">
                    <p class="data">
                        <span class="data-dia">01</span> 
                        <span class="data-sem">Segunda-feira</span>                     
                    </p>
                        <ul>
                            <li>Avaliação de Matemática</li>
                            <li>Avaliação de História</li>
                            <li>Avaliação de Inglês</li>
                        </ul>
                   
                </div>
                <div class="atividade-dia">
                    <p class="data">
                        <span class="data-dia">01</span> 
                        <span class="data-sem">Segunda-feira</span>                     
                    </p>
                        <ul>
                            <li>Avaliação de Matemática</li>
                            <li>Avaliação de História</li>
                            <li>Avaliação de Inglês</li>
                        </ul>
                   
                </div>
                <div class="atividade-dia">
                    <p class="data">
                        <span class="data-dia">01</span> 
                        <span class="data-sem">Segunda-feira</span>                     
                    </p>
                        <ul>
                            <li>Avaliação de Matemática</li>
                            <li>Avaliação de História</li>
                            <li>Avaliação de Inglês</li>
                        </ul>
                   
                </div>
                <div class="atividade-dia">
                    <p class="data">
                        <span class="data-dia">01</span> 
                        <span class="data-sem">Segunda-feira</span>                     
                    </p>
                        <ul>
                            <li>Avaliação de Matemática</li>
                            <li>Avaliação de História</li>
                            <li>Avaliação de Inglês</li>
                        </ul>
                   
                </div>
                <div class="atividade-dia">
                    <p class="data">
                        <span class="data-dia">01</span> 
                        <span class="data-sem">Segunda-feira</span>                     
                    </p>
                        <ul>
                            <li>Avaliação de Matemática</li>
                            <li>Avaliação de História</li>
                            <li>Avaliação de Inglês</li>
                        </ul>
                   
                </div>
                <div class="atividade-dia">
                    <p class="data">
                        <span class="data-dia">01</span> 
                        <span class="data-sem">Segunda-feira</span>                     
                    </p>
                        <ul>
                            <li>Avaliação de Matemática</li>
                            <li>Avaliação de História</li>
                            <li>Avaliação de Inglês</li>
                        </ul>
                   
                </div>
               
    
            </section>

        
         </div>

    </main> 
    

    <footer>
        IFBA Atividades &copy; 2023
      </footer>

</body>
</html>