*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
    font-family:Inter, sans-serif;
    min-height: 100vh;
   
   }

header {
    background-color: white;
    height:120px;
    text-align: center;
    font-size: 20px;
    color: #029633;
    border-bottom:1px solid #029633;
    display:grid;
    place-items: center;
   }

header h1{
    background-image: url('../imagem/logo.png');
    background-repeat: no-repeat;
    width:285px;
    height:63px;
    background-size: cover;
    text-indent: -90000px;
}
.principal{
    min-height: calc(100vh - 150px);
    display:grid;
    place-items: center;
   
    
}
.principal-admin{
    min-height: calc(100vh - 150px);
    padding-top:50px;

    
}
.principal-admin .container{
  

    max-width: 800px;
    width:90%;
    margin:0 auto;
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    margin-bottom:20px;
    

}

/*******************************************************************/

.text-center{
    text-align: center;
}

.atalhos{
    display:flex;
    justify-content: space-around;
    padding:1rem;
    margin-top: 50px;
}

.atalhos .atalho{
    width:20%;
    height:150px;
    background:linear-gradient(#DDD,#FFF);
    border-radius:20px;
    box-shadow: 1px 1px 5px rgba(0,0,0,.2);

}

.atalhos .atalho a {
    display:flex;
    width:100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:#046c00;
    text-decoration: none;
   
}

.atalhos .atalho a i{
    font-size:4rem;
    margin:10px;
}

.atalhos .atalho a:hover{
    color:#029633;
}






/***********************************************************************/


.form-container {
    max-width: 500px;
    margin:0 auto;
    padding: 30px;
    margin-top:-100px;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    align-self:flex-start;

}

#filtro{
    background-color:#FFF;
    border-radius:20px;
    width:90%;
    min-height:80px;
    max-width: 800px;
    margin:2rem auto 1rem;
    padding:1rem;
    box-shadow: 2px 2px 2px rgba(0,0,0,.1);
    display:flex;
    justify-content: space-around;
}

#filtro select{
    padding: 0 20px 0 10px;
    border: 1px solid #e0e0e0;
    border-radius:5px;
    line-height:40px;
    height: 40px;;
    background: #fff;
    min-width: 100px;
    margin: 0 5px 5px 0;
    font-size:1rem;
}

#filtro input{
    padding: 0 2px 0 10px;

    border: 1px solid #e0e0e0;
    
  
    height: 40px;
    /*box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.2);*/
    background: #fff;

    min-width: 200px;
    margin: 0 5px 5px 0;
    font-size:1rem;
    border-radius:5px;


}
::-webkit-calendar-picker-indicator{
    padding:10px;
    cursor: pointer;
    border-radius: 3px;
}


#filtro button{
    width:80px;
    height:40px;
    background-color:#029633;
    color:#FFF;
    outline:none;
    border:none;
    font-size:1.1rem;
    border-radius:5px;
}   


input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.form-container  select{
    padding: 0 20px 0 10px;
    border: 1px solid #ccc;
    line-height:40px;
    height: 40px;;
    background: #fff;
    width:100%;
    margin: 0 5px 5px 0;
    font-size:1rem;
  
}


.container {
    max-width: 800px;
    width:90%;
    margin:0 auto;
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    margin-bottom:20px;
}


.navegacao{
    width:100%;
    padding:.2rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
 
   
}
.navegacao a{
    color:#029633;
    font-size:3rem;
}
.navegacao a:hover{
    opacity: 0.8
}

.navegacao h1{
    color:#029633;
    background:#FBFBFD;
   
    padding-bottom:10px;
    padding:.5rem;
    font-size:1.2rem;
    text-align: center;
}
.navegacao h2{
    color:#95b508;
    background:#FBFBFD;
    margin-top:-15px;
    padding-bottom:10px;
    padding:.5rem;
    font-size:1rem;
    text-align: center;
}

   
.btn {
    background-color: #029633;
    color: white;
    padding: 14px 0;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    display:block;
    text-align: center;
    text-decoration: none;
    font-size:.9rem;
    font-weight: bold;
    
}



.btn.verde-claro{
    background-color:#D3E483;
    color:#343434;
}
   
   .btn:hover {
    opacity: 0.8
   }

.btn-voltar{
    font-size:1rem;
    background-color:#FFF;
    padding: 14px 50px;
    margin: 20px 20px;
    text-decoration: none;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    color:#343434;
}
.btn-voltar:hover{
    background-color: #046c00;
    color:#FBFBFD;
}

.nav-alternativa{
    margin:0 auto;
    margin-top: 20px;
    max-width: 800px;
    width:90%;
    align-self: flex-start;
    height:50px;
   
}



footer{
  
    width: 100%;
    height: 30px;
    background-color:#ffffff;
    text-align: center;
    color:#808080;
    font-style: italic;

}   



/******************************************************/


.atividade{
    border:1px solid #DDD;
    border-radius: 10px;
    margin-bottom:10px;
    padding:1rem;
    display:grid;
    grid-template-columns: minmax(80px,1fr) 6fr;  
    grid-template-rows: 1fr 2fr;  
    column-gap:1rem;  
    align-items: center;  
    
        
}
.atividade .data{
    grid-row-start: 1;
    grid-row-end: 4;
    background-color:#D3E483;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius:10px;
    text-align:center;
    align-self: stretch;
}

.atividade .data .data-dia{
    font-size:2rem;
    border-bottom:3px solid rgba(0,0,0,.1);
    color:#029633;
    width:100%;   
    padding-bottom:1px;
    
        
}
.atividade .data .data-mes{
    border-top:2px solid white;
    padding-top:5px;
    color:#343434;
    font-weight: bold;
    width:100%;
    font-size:.8rem;
}
.atividade .data .data-hora{
    margin-top:.5rem;
    margin-bottom:.5rem;
    color:#343434;
    font-size:.8rem;
   
}

.atividade h2{
    color:#029633;    
   
}

.atividade .descricao{
    display:flex;
    column-gap: 10px;
    font-size:.8rem;
}
.atividade .disciplina{
    background-color:#316dc8;
    border-radius:10px;
    justify-self: start;
    padding:.5rem;
    color:#FFF;
    font-size: .7rem;
   
}

.atividade .curso{
    background-color:#046c00;
    border-radius:10px;
    justify-self: start;
    padding:.5rem;
    color:#FFF;
    font-size: .7rem;

    
}

.atividade .serie{
    background-color:rgb(194, 192, 192);   
    border-radius:10px;
    justify-self: start;
    padding:.5rem;
    color:rgba(0,0,0,.8);
    
}

/********************************************************************/

.menu{
    width:90%;
    max-width: 800px;
    margin:0 auto;
}
.menu ul{
    display:flex;
    justify-content:flex-end;
    align-items: flex-end;
    padding-right:10px;
    list-style: none;
    
}
.menu ul li.ativo{
   
    background-color:#029633;
   
}
.menu ul li.ativo a{
    color:#FFF;
}

.menu ul a{
    color:#046c00;
    text-decoration: none;
    font-weight: bold;
    font-size:.8rem;
}

.menu ul li{
    background:#FBFBFD;
    padding:.5rem .8rem;
    border-radius: 10px 10px 0 0;
    margin-right:2px;
   /* border: 1px solid #dad8d8;
    border-bottom:none;*/
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);

}
.menu ul li:hover{
    background:#029633;
    padding:.5rem .8rem;
    border-radius: 10px 10px 0 0;
    margin-right:2px;
}
.menu ul li:hover a{

    color:#FFF;
}

/***********************************************************************/

h1.mensal{
    font-size:1.8rem;
    margin-bottom:20px;
    color:#046c00;
}
#atividades-mensal{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:1rem;
}

.atividade-dia{
    border:1px solid #DDD;
    border-radius: 10px;
    overflow: hidden;
   
}

.atividade-dia ul{
    list-style: none;
    padding:1rem;
    font-size: .8rem;
}
.atividade-dia ul li{
    border-bottom:1px dashed #DDD;
    padding:10px 0;
}
.atividade-dia .data{
    background-color:#029633;
    padding:1rem;
    font-weight: bold;
    font-size:1rem;
    color:#fff;
    display:flex;
    justify-content:space-between;
    align-items: center;
}
.data-sem{
    font-size:.8rem;
}

/****************************************************************************/

table{
    width:100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin: 25px 0;
    border-collapse: collapse;
    
}


table th,
table td {
    padding: 12px 15px;
    font-size:.8rem;
}

table thead tr {
    background-color: #046c00;
    color: #ffffff;
    text-align: left;
    
}
table td{
    border-bottom:1px solid #DDD;
    margin:0;
    padding:1rem;
     
}

table td img{
    width:80px;
    border-radius:10px;
}
table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table .botoes{
    width:100px;
}

table .botoes a{
    color:#046c00;
    font-size:1.2rem;
    margin-right:10px;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #046c00;
}

#paginacao{
    width:100%;
    display: flex;
    justify-content: center;
    padding-bottom:1rem;
   

}
#paginacao a{
    border-radius:100%;
    background-color:#95b508; 
    text-decoration: none;
    width:30px;
    height:30px;
    margin-right:.5rem;
    display:flex;
    justify-content: center;
    align-items: center;
    color:#FFF;
    font-weight: bold;
    font-size:.8rem;

}
#paginacao a:hover{
    background-color:#029633;
    color:#FFF;
}

#paginacao a.ativo{
    background-color:#046c00;
    color:#FFF;
}

/************************************************************************/

.adicionar{
    display: flex;
    justify-content: flex-end;
    align-items:center;
 
}

.adicionar a{
    display:inline-block;
    background-color: #046c00;
    padding:.5rem;
    border-radius: 10px;
    color:#FFF;
    text-decoration: none;
    display:flex;
    align-items: center;
    font-weight: bold;
    font-size: .8rem;
}
.adicionar i{
    font-size:1rem;
    margin-right:10px;
}

.adicionar a:hover{
    color: #fff;
    background-color:#029633;
 
}

/*******************************************************************************/


.principal-admin form input,
.principal-admin form select
{
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 1rem;
}
.principal-admin form button{
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.principal-admin form button:hover{
    background: #43A047;
}

/********************************************************************************/